@import "_settings.scss";


body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 1.3em;
}

.trello-nhatdev-container {
    height: 100vh;
    overflow: hidden;
    background-color: $board-bg-color;
}
